<uib-tabset>
      <uib-tab>
         <uib-tab-heading>
            Data
         </uib-tab-heading>
            <div class="card-body">
               <auto-height>
                  <json-formatter json="queryData" open="1"></json-formatter>
               </auto-height>
            </div>
            <!-- </div> -->
         </uib-tab>
      <uib-tab>
         <uib-tab-heading>
            {{bodyTitle}}
         </uib-tab-heading>

         <div class="card-body">
            <div ng-if="showBodyTabAsMDX == false">
               <auto-height>
                  <json-formatter json="resultBody" open="1"></json-formatter>
               </auto-height>
            </div>
            <div ng-if="showBodyTabAsMDX">
               <pre ui-ace="{ onLoad : editorLoaded }" ng-model="resultBody"
                  auto-height auto-height-options="{noScroll: true, watchTab: true}">
                  <div ng-bind-html="resultBody" style="overflow-y: auto;"></div>
               </pre>
               
            </div>
         </div>
      </uib-tab>
   </uib-tabset>

