
<uib-tabset>
      <uib-tab>
         <uib-tab-heading>
            Body
         </uib-tab-heading>
            <div>
                <div class="modal-header bg-light dialogforpopup">
                    <div ng-if="itemMethod=='POST'">
                        <pre><code>{{resultJSON}}</code></pre>
                    </div>
                    <div ng-if="itemMethod=='GET' || itemMethod == 'PATCH'">
                        <h4>
                            Query data:
                        </h4>
                        <pre><code>{{queryData}}</code></pre>
                    </div>
                    <div ng-if="itemMethod=='DELETE'">
                        {{message}}
                    </div>
                </div>
            </div>
         </uib-tab>
      <uib-tab>
         <uib-tab-heading>
            Code
         </uib-tab-heading>
         <code>Code will be here!</code>
      </uib-tab>
   </uib-tabset>

