<!-- <div class="restApiSanityCheck">
   <style>
      .theme-dark .text-info {
         color: #888 !important;
      };

      .theme-dark .alert .text-info {
         color: #FFFFFF !important;
      };

      .theme-dark .json-formatter-row .key {
         color: lightblue;
      };
   </style>

<div class= "{{ 'theme-' + $root.uiPrefs.theme }}"> -->

   <div style="overflow-y: hidden; height: 600px">
      <uib-tabset>
         <uib-tab>
            <uib-tab-heading>
               Data
            </uib-tab-heading>
            <div class="card-body">
               <auto-height>
                  <json-formatter json="queryData" open="1"></json-formatter>
               </auto-height>
            </div>
               <!-- </div> -->
            </uib-tab>
         <uib-tab ng-if="bodyTitle">
            <uib-tab-heading>
               {{bodyTitle}}
            </uib-tab-heading>

            <div class="card-body">
               <div ng-if="showBodyTabAsMDX == false">
                  <auto-height>
                     <json-formatter json="resultBody" open="1"></json-formatter>
                  </auto-height>
               </div>
               <div ng-if="showBodyTabAsMDX">
                  <pre ui-ace="{ onLoad : editorLoaded }" ng-model="resultBody"
                     auto-height auto-height-options="{noScroll: true, watchTab: true}">
                     <div ng-bind-html="resultBody" style="overflow-y: auto; height: 400px"></div>
                  </pre>
                  
               </div>
            </div>
         </uib-tab>
      </uib-tabset>
   </div>
   
<!-- </div> -->
