<div class="restApiSanityCheck">
   <style>
      td {
        height: 40px;
        /*width: 160px; */
        text-align: center;
        vertical-align: middle;
      }
      .badge {
         text-align: center;
         vertical-align: middle;
      }

   </style>

<div>
   <div class="row-flex">
      <div class="col-sm-12 align-baseline" display="flex">
            <div class="btn-group">
               <button type ="button" class="btn btn-secondary" title="Execute" ng-disabled="requestPending > 0" ng-click="executeQueries(0)">
                  <i ng-if="!options.executing" class="fa fa-fw fa-bolt ng-scope"></i>
                  Execute
               </button>
               <button type="button" class="btn btn-secondary" title="Execute" ng-disabled="requestPending > 0" ng-click="resetStatusAll()">
                  <i ng-if="!options.executing" class="fa fa-fw fa-refresh ng-scope"> </i>
                  Refresh
               </button>
            </div>
            <div class="btn-group">
               <div class="buttons btn-group align-middle text-align:right">
                  <button type="button" class="btn btn-secondary ng-scope" ng-class="{'active font-weight-bold': statusFilter==null} "ng-click="setStatusFilter(null)">Total: {{totalResult}}</button>
                  <button type="button" class="btn btn-secondary ng-scope" ng-class="{'active font-weight-bold': statusFilter=='success'} "ng-click="setStatusFilter('success')">Successes: {{successesResult}}</button>
                  <button type="button" class="btn btn-secondary ng-scope" ng-class="{'active font-weight-bold': statusFilter=='warning'} " ng-click="setStatusFilter('warning')">Warnings: {{warningsResult}}</button>
                  <button type="button" class="btn btn-secondary ng-scope" ng-class="{'active font-weight-bold': statusFilter=='failed'}  " ng-click="setStatusFilter('failed')">Errors: {{errorsResult}}</button>
               </div>       
            </div>
         <div ng-if="globalRuntime > 0" class="badge p3 ml-2 mr-1 mt-3 badge-success pull-right" style="text-align:center">
            <div style = "font-size:0.9rem">
               Global Runtime: {{globalRuntime | num:0}} ms
            </div>
         </div>
   </div>

   <br>

   <div class="row-flex">
      <div class="col-sm-12 align-baseline" display="flex">
         <div class="progress mb-2" style="height: 15px;font-size:0.9em">
            <div class="progress-bar bg-success"
               ng-class="{'progress-bar-striped progress-bar-animated':stepsDone<100}"
               role="progressbar" 
               ng-style="{'width': stepsDoneFormatted}"
               aria-valuenow="{{stepsDone | num:0}}" aria-valuemin="0" aria-valuemax="100">
               <span ng-if="stepsDone>10">{{stepsDone | num:1}}%</span>
            </div>
         </div>
      </div>
   </div>

   <br>

   <div class="col-md-12">
      <auto-height>
         <table class="table table-responsive-xl table-hover table-sm">
            <thead>
               <tr>
                  <th> 
                     <div class="click" style="white-space:nowrap; text-align: center">
                        <i ng-if="!checkActivated" ng-click="checkUncheckAll()" class="fa fa-square-o text-info" title="unchecked"></i>
                        <i ng-if="checkActivated" ng-click="checkUncheckAll()"class="fa fa-check-square-o text-info" title="checked"></i>
                     </div>
                  </th>
                  <th ng-repeat="column in lists.columns" ng-style="::{'text-align':column.align}" class="align-middle"> {{column.desc}}
                  </th>
               </tr>
            </thead>
            <tbody>
               <tr ng-if="item.queryStatus==statusFilter || statusFilter==null" ng-repeat="item in requests" class="ng-scope" ng-class="{'alert alert-success': item.queryStatus == 'success', 'alert alert-danger': item.queryStatus == 'failed', 'alert alert-warning': item.queryStatus == 'warning'}">   
                  <td>
                     <div class="click" style="white-space:nowrap;text-align: center">
                        <i ng-if="item.checked==false || item.checked==null" ng-click="checkItem(item)" class="fa fa-square-o text-info" title="unchecked"></i>
                        <i ng-if="item.checked==true" ng-click="uncheckItem(item)"class="fa fa-check-square-o text-info" title="checked"></i>
                     </div>
                  </td>  
                  <td style="text-align:center">
                     {{item.index}}
                     </td>       
                  <td style="text-align:center">
                     <i ng-if="item.executing" class="fa fa-fw fa-refresh fa-spin"></i>
                     <i ng-if="!item.executing" class="fa fa-fw {{item.icon}}"></i>
                  </td>
                  <td> 
                     <b ng-class="item.badgeType">
                        {{item.method}}
                     </b>
                  </td>
                  <td style="text-align:center">
                     {{item.statusCodeExpected}}
                  </td>
                   <td style="text-align:center">
                     {{item.statusResult}}
                  </td>
                  <td style="text-align:left">
                     {{item.query}}
                  </td>
                  <td ng-if="item.wasExecuted" style="text-align:center">
                     <button type="button" class="btn btn-secondary btn-sm" ng-click="seeDetails(item)">
                        <i class="fa fa-eye"></i>
                     </button>
                  </td>
                  <td ng-if="!item.wasExecuted || item.queryStatus != 'success'">
                     {{blank}}
                  </td>
                  <td>
                     <span ng-if="item.queryStatus == 'success'" class="badge badge-success">
                        {{item.responseTimeMs | num:0}} ms
                     </span>
                  </td>
               </tr>
            </tbody>
         </table>
      </auto-height>
   </div>

</div>

</html>