<div>
   <style>
      .card-button:hover {
         background-color: #FFF3CD;
         color: #856404;
         border-color: #FFEEBA
      }
   </style>
   <div class="toolbar">
      <label class="page-title">
         <i class="fa fa-cubes" style="padding-right:5px" aria-hidden="true"></i>
         Save Data to Disk</label>
      <span class="btn-toolbar pull-right">
         <div class="input-group">
            <span class="input-group-prepend">
               <input class="form-control ng-pristine ng-untouched ng-valid ng-empty" style="display:inline;width:300px" type="text" ng-model="selections.cubeFilter"
                  placeholder="Search for cubes">
            </span>
            <span class="input-group-append">
               <button class="btn btn-secondary" ng-click="getCubes()" uib-popover="Refresh" popover-append-to-body="true" popover-trigger="'mouseenter'"
                  popover-class="popover-class-danger">
                  <i class="fa fa-refresh" aria-hidden="true"></i>
               </button>
            </span>
            <span class="input-group-append">
               <button ng-disabled="cubesToSave.length==0" class="btn btn-primary" ng-click="openModalSaveData()" uib-popover="Save data for selected cubes"
                  popover-append-to-body="true" popover-trigger="'mouseenter'" popover-class="popover-class-danger">
                  <i class="fa fa-floppy-o" aria-hidden="true"></i>
               </button>
            </span>
            <span class="input-group-append">
               <button class="btn btn-primary" ng-click="openModalSaveDataAll()" uib-popover="Save data for all cubes" popover-append-to-body="true"
                  popover-trigger="'mouseenter'" popover-class="popover-class-danger">
                  <i class="fa fa-cubes" aria-hidden="true"></i>
               </button>
            </span>
         </div>
      </span>
   </div>
   <div class="row">
      <div class="col-md-12">
         <auto-height>
               <table class="table table-hover table-sm ng-scope">
                     <thead>
                        <tr>
                           <th style="width: 30px;" class="text-center">
                              <input style="margin-top:5px" type="checkbox" ng-model="defaults.selectAllCubes" ng-change="toggleAllCubeToSave(  )" class="ng-pristine ng-untouched ng-valid ng-empty"
                                 uib-popover="Select All" popover-append-to-body="true" popover-trigger="'mouseenter'" popover-class="popover-class-default"> </th>
                           <th></th>
                           <th> Cube </th>
                           <th> Last Data Update </th>
                        </tr>
                     </thead>
         
                     <tbody>
                        <tr ng-repeat="cube in lists.cubes |filter:selections.cubeFilter track by cube.Name">
                           <td class="text-center">
                              <input style="margin-top:5px" type="checkbox" ng-model="cube.saveData" ng-change="toggleCubeToSave(cube)" class="ng-pristine ng-untouched ng-valid ng-empty"> </td>
                           <td class="text-center">
                              <button class="btn btn-primary btn-sm" uib-popover="Save Data" popover-append-to-body="true" popover-trigger="'mouseenter'"
                                 popover-class="popover-class-default" style="cursor:pointer" ng-click="saveDataForOneCube(cube)">
                                 <i class="fa fa-floppy-o" aria-hidden="true"></i>
                              </button>
                           </td>
                           <td> {{cube.Name}}
                              <span ng-if="cube.responseTimeMs>0 && cube.showBadgeTime" class="badge ml-1 badge-success" ng-style="generateHSLColour(cube.responseTimeMs)">
                                 {{cube.responseTimeMs}} Ms
                              </span>
                           </td>
                           <td>
                              {{cube.LastDataUpdate | date:'medium'}}
                              <span ng-if="cube.dataUpdateHoursDelta<1"> - Data updated in the last hour</span>
                              <span ng-if="cube.dataUpdateHoursDelta>=1 && cube.dataUpdateHoursDelta<25"> - Data updated in the last {{cube.dataUpdateHoursDelta+1}} hours</span>
                           </td>
                        </tr>
                     </tbody>
         
                  </table>
         </auto-height>
      </div>
   </div>
</div>